
<app-header></app-header>

<div class="container" >
    <div class="padding20 white-bg">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-3 col-lg-3 col-xl-3 mt-5" >
          <a><img class="image-build" /></a>
          <h4><strong>Top Users</strong></h4>
          <div class="fields">
            <div class="field pointer shadow-bg field-left" (click)="changuePage('report')">
              <h5 >Listar</h5>
            </div>
            <div class="field pointer shadow-bg field-left"(click)="changuePage('create')">
                <h5 >Agregar</h5>
              </div>
              <div class="field pointer shadow-bg field-left"(click)="close()">
                <h5 >Salir</h5>
              </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-10 col-md-9 col-lg-9 col-xl-9 mt-5" >
          <div class="col" >
            <div class="col report" *ngIf="this.page === 'report'" >
              <app-report></app-report>
            </div>
            <div class="col" *ngIf="this.page === 'create'">
              <app-create></app-create>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
